<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Calendar</title>
  <link rel="stylesheet" href="css/main.css">

</head>
<body style="margin:120px">
  <table>
    <tr>
      <th><span class="calendar-header">Mon</span></th>
      <th><span class="calendar-header">Tue</span></th>
      <th><span class="calendar-header">Wed</span></th>
      <th><span class="calendar-header">Thu</span></th>
      <th><span class="calendar-header">Fri</span></th>
      <th><span class="calendar-header">Sat</span></th>
      <th><span class="calendar-header">Sun</span></th>
    </tr>
    <tr>
      <td class="calendar-excluded-date">30
      <img src="img/smile2.png" class="calendar-smile2"></td>
      <td class="calendar-excluded-date">31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>
    <tr>
      <td>30
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>
    <tr>
      <td>30
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>

    <tr>
      <td>30
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>
    <tr>
      <td>30
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>
    <tr>
      <td>30
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>31
        <img src="img/smile2.png" class="calendar-smile2"></td>
      <td>1<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>2<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>3<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>4<img src="img/smile2.png" class="calendar-smile2"></td>
      <td>5<img src="img/smile2.png" class="calendar-smile2"></td>
    </tr>
  </table>
</body>
</html>
