<!DOCTYPE html>
<html>
<head>
	<title>Goals</title>
</head>
<body>
	<h1>Goals</h1>
	<form method="post" action="{% url 'goals' %}">
		{% csrf_token %}
	  
		<!-- Mood radio buttons -->
		<label>
		  <input type="radio" name="mood" value="1"> 1
		</label>
		<label>
		  <input type="radio" name="mood" value="2"> 2
		</label>
		<label>
		  <input type="radio" name="mood" value="3"> 3
		</label>
		<label>
			<input type="radio" name="mood" value="3"> 4
		</label>
		<label>
			<input type="radio" name="mood" value="5"> 5
		</label>
		<!-- Add more radio buttons for other values -->
	  
		<br><br>
	  
		<!-- Sleep radio buttons -->
		<label>
		  <input type="radio" name="sleep" value="1"> 1
		</label>
		<label>
		  <input type="radio" name="sleep" value="2"> 2
		</label>
		<label>
		  <input type="radio" name="sleep" value="3"> 3
		</label>
		<label>
			<input type="radio" name="sleep" value="4"> 4
		</label>
		<label>
			<input type="radio" name="sleep" value="5"> 5
		</label>
		<!-- Add more radio buttons for other values -->
	  
		<br><br>
	  
		<input type="submit" value="Submit">
	</form>

	<form method="post" action = "{%url 'calendar' %}">
		{% csrf_token %}
		<button type="submit" name="info">Get data</button>
	</form>

	{% for entry in entries %}
		<p>Title: {{ entry.title }}</p>
		<p>Date Created: {{ entry.date_created }} </p>
		<p>Mood: {{ entry.mood }} </p>
		<p>Sleep {{ entry.sleep }} </p>
		<p>Exercise: {{ entry.exercise }} </p>
	{% endfor %}
	  

    <span> Hello, {{request.user}} </span>
    <span><a href="{% url 'logoutUser' %}">Logout</a></span>
</body>
</html>