<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Button Example</h1>
        <p>Click a button to send a value:</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name="value" value="1">Button 1</button>
            <button type="submit" name="value" value="2">Button 2</button>
            <button type="submit" name="value" value="3">Button 3</button>
        </form>

    </body>
</html>