<!DOCTYPE html>
<html>
<head>
	<title>Activity Entry</title>
</head>
<body>
	<h1>Activity Entry Form</h1>
	<form method="post" action="{% url 'home' %}">
		{% csrf_token %}
	  
		<!-- Mood radio buttons -->
		<label>
		  <input type="radio" name="mood" value="1"> 1
		</label>
		<label>
		  <input type="radio" name="mood" value="2"> 2
		</label>
		<label>
		  <input type="radio" name="mood" value="3"> 3
		</label>
		<label>
			<input type="radio" name="mood" value="3"> 4
		</label>
		<label>
			<input type="radio" name="mood" value="0"> 5
		</label>
		<!-- Add more radio buttons for other values -->
	  
		<br><br>
	  
		<!-- Sleep radio buttons -->
		<label>
		  <input type="radio" name="sleep" value="1"> 1
		</label>
		<label>
		  <input type="radio" name="sleep" value="2"> 2
		</label>
		<label>
		  <input type="radio" name="sleep" value="3"> 3
		</label>
		<label>
			<input type="radio" name="sleep" value="0"> 4
		</label>
		<label>
			<input type="radio" name="sleep" value="0"> 5
		</label>
		<!-- Add more radio buttons for other values -->
	  
		<br><br>
	  
		<input type="submit" value="Submit">
	  </form>
	  

    <span> Hello, {{request.user}} </span>
    <span><a href="{% url 'logoutUser' %}">Logout</a></span>
</body>
</html>
