body{
    background-color: #9279c4;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: auto;
}
th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 500;
}
th {
    background-color: #f2f2f2;
}
td:hover {
    background-color: #90E4C1;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    text-decoration: underline;
}

#day_btn{
    background-color:transparent;
    border:none;
    width:100%;
}